data/english_base_schema_.rnc

default namespace = "http://www.tei-c.org/ns/1.0"
start = TEI

TEI = element TEI {teiHeader, textElement}
    teiHeader = element teiHeader {fileDesc, encodingDesc, profileDesc, revisionDesc}
        fileDesc = element fileDesc {titleStmt, extent, publicationStmt, notesStmt, sourceDesc}
            titleStmt = element titleStmt {titleStmt_title, titleStmt_author, titleStmt_editor*, sponsor, principal, respStmt, funder}
                titleStmt_title = element title {attribute xml:lang { xsd:language }?, text}
                titleStmt_author = element author {text}
                titleStmt_editor = element editor {text}
                sponsor = element sponsor {text}
                principal = element principal {text}
                respStmt = element respStmt {respStmt_resp, name*}
                    respStmt_resp = element resp {text}
                    name = element name {text}
                funder = element funder {funder_n, text}
                    funder_n = attribute n {text}    
            extent = element extent {text}
            publicationStmt = element publicationStmt {pubStmt_publisher, pubStmt_pubPlace, authority}
                pubStmt_publisher = element publisher {text}
                pubStmt_pubPlace = element pubPlace {text}
                authority = element authority {text}
            notesStmt = element notesStmt {notesStmt_note}
                notesStmt_note = element note {anchored, place, text}
                    anchored = attribute anchored {text}
                    place = attribute place {text}
            sourceDesc = element sourceDesc {biblStruct}
                biblStruct = element biblStruct {monogr, series, ref*}
                    monogr = element monogr {monogr_author, monogr_title, monogr_editor*, edition, imprint, biblScope}
                        monogr_author = element author {text}
                        monogr_title = element title {attribute xml:lang { xsd:language }?, text}
                        monogr_editor = element editor {text}
                        edition = element edition {attribute xml:lang { xsd:language }?, text}
                        imprint = element imprint {imprint_pubPlace, imprint_publisher, date}
                            imprint_pubPlace = element pubPlace {text}
                            imprint_publisher = element publisher {text}
                            date = element date {text}
                        biblScope = element biblScope {biblScope_unit, text}
                            biblScope_unit = attribute unit {text}
                    series = element series {series_title}
                        series_title = element title {text}
                    ref = element ref {target, text}
                        target = attribute target {text}
        encodingDesc = element encodingDesc {refsDecl+, editorialDecl}   
            refsDecl = element refsDecl {refsDecl_n?, cRefPattern*, refState*}
                refsDecl_n = attribute n {text}
                cRefPattern = element cRefPattern {cRefPattern_n, matchPattern, replacementPattern, p}
                    cRefPattern_n = attribute n {text}
                    matchPattern = attribute matchPattern {text}
                    replacementPattern = attribute replacementPattern {text}
                    p = element p {text}
                refState = element refState {delim?, refState_unit, empty}
                    delim = attribute delim {text}
                    refState_unit = attribute unit {text}
            editorialDecl = element editorialDecl {quotation}
                quotation = element quotation {marks, empty}
                    marks = attribute marks {text}
        profileDesc = element profileDesc {langUsage}
            langUsage = element langUsage {language*}
                language = element language {ident, text}
                    ident = attribute ident {text}
         
        revisionDesc = element revisionDesc {change*}
            change = element change {who, when, text}
                who = attribute who {text}
                when = attribute when {text}
    textElement = element text {attribute xml:lang { xsd:language }?, body}
        body = element body {body_divElement}
            body_divElement = element div {body_divElement_type, body_divElement_n, attribute xml:lang { xsd:language }?, div_divElement*}
                body_divElement_type = attribute type {text}
                body_divElement_n = attribute n {text}
                div_divElement = element div {(div_divElement_type, subtype, div_divElement_n), (milestone* & l* & q*)}
                    div_divElement_type = attribute type {text}
                    subtype = attribute subtype {text}
                    div_divElement_n = attribute n {text}
                    milestone = element milestone {ed, milestone_n, milestone_unit, empty}
                        ed = attribute ed {text}
                        milestone_n = attribute n {text}
                        milestone_unit = attribute unit {text}
                    l = element l {line_n, mixed{(line_milestone|man|l_q)*}, del*}
                        line_n = attribute n {text}
                        line_milestone = element milestone {line_milestone_ed, line_milestone_unit, empty}
                            line_milestone_ed = attribute ed {text}
                            line_milestone_unit = attribute unit {text}
                        del = element del {text}
                        l_q = element q {text}
                        man = element man {text}
                    q = element q {l* & q_milestone* & q_q* & q_note*}
                        q_l = element l {q_l_n, text}
                            q_l_n = attribute n {text}
                        q_milestone = element milestone {q_milestone_ed, q_milestone_n, q_milestone_unit}
                            q_milestone_ed = attribute ed {text}
                            q_milestone_n = attribute n {text}
                            q_milestone_unit = attribute unit {text}
                        q_q = element q {q_q_l*}
                            q_q_l = element l {q_q_l_n, text}
                                q_q_l_n = attribute n {text}
                        q_note = element note {q_note_resp, text}
                            q_note_resp = attribute resp {text}