data/english_base_schema_.rnc

default namespace = "http://www.tei-c.org/ns/1.0"
start = TEI

TEI = element TEI {teiHeader, textElement}
    teiHeader = element teiHeader {fileDesc, encodingDesc, profileDesc}
        fileDesc = element fileDesc {titleStmt, publicationStmt, notesStmt, sourceDesc}
            titleStmt = element titleStmt {titleStmt_title*, titleStmt_author*, titleStmt_editor*, respStmt*}
                titleStmt_title = element title {titleStmt_title_type*, text}
                    titleStmt_title_type = attribute type {text}
                titleStmt_author = element author {text}
                titleStmt_editor = element editor {titleStmt_editor_role, text}
                    titleStmt_editor_role = attribute role {text}
                sponsor = element sponsor {text}
                principal = element principal {text}
                respStmt = element respStmt {respStmt_resp, name*}
                    respStmt_resp = element resp {text}
                    name = element name {text}   
            publicationStmt = element publicationStmt {pubStmt_publisher, pubStmt_pubPlace, authority}
                pubStmt_publisher = element publisher {text}
                pubStmt_pubPlace = element pubPlace {text}
                authority = element authority {text}
            notesStmt = element notesStmt {notesStmt_note}
                notesStmt_note = element note {anchored, text}
                    anchored = attribute anchored {text}
            sourceDesc = element sourceDesc {biblStruct, bibl}
                biblStruct = element biblStruct {monogr, ref*}
                    monogr = element monogr {monogr_author, monogr_title*, monogr_editor*, imprint}
                        monogr_author = element author {text}
                        monogr_title = element title {monogr_title_type?, text}
                            monogr_title_type = attribute type {text}
                        monogr_editor = element editor {monogr_editor_role, text}
                            monogr_editor_role = attribute role {text}
                        imprint = element imprint {imprint_pubPlace*, imprint_publisher, date}
                            imprint_pubPlace = element pubPlace {text}
                            imprint_publisher = element publisher {text}
                            date = element date {text}
                    ref = element ref {target, text}
                        target = attribute target {text}
                bibl = element bibl {idno}
                    idno = element idno {idno_type, text}
                        idno_type = attribute type {text}
        encodingDesc = element encodingDesc {refsDecl}   
            refsDecl = element refsDecl {refsDecl_n?, cRefPattern*, refState*}
                refsDecl_n = attribute n {text}
                cRefPattern = element cRefPattern {cRefPattern_n, matchPattern, replacementPattern, p}
                    cRefPattern_n = attribute n {text}
                    matchPattern = attribute matchPattern {text}
                    replacementPattern = attribute replacementPattern {text}
                    p = element p {text}
                refState = element refState {delim?, refState_unit, empty}
                    delim = attribute delim {text}
                    refState_unit = attribute unit {text}
        profileDesc = element profileDesc {langUsage}
            langUsage = element langUsage {language*}
                language = element language {ident, text}
                    ident = attribute ident {text}
         
    textElement = element text {attribute xml:lang { xsd:language }?, body}
        body = element body {body_divElement}
            body_divElement = element div {body_divElement_type, body_divElement_n, attribute xml:lang { xsd:language }?, body_divElement_div*}
                body_divElement_type = attribute type {text}
                body_divElement_n = attribute n {text}
                body_divElement_div = element div {divElement_div_type, divElement_div_n, subtype, head, divElement_div_div+}
                    divElement_div_type = attribute type {text}
                    divElement_div_n = attribute n {text}
                    subtype = attribute subtype {text}    
                    head = element head {text}
                    divElement_div_div = element div {(div_div_type, div_div_n, subtype), div_div_p+}
                        div_div_type = attribute type {text}
                        div_div_n = attribute n {text}
                        div_div_p = element p {mixed{milestone|term|placeName|man|husband}*, text*}
                            milestone = element milestone {milestone_n, milestone_unit, empty}
                                milestone_n = attribute n {text}
                                milestone_unit = attribute unit {text}
                            term = element term {attribute xml:lang {xsd:language}?, text}
                            placeName = element placeName {key, text}
                                key = attribute key {text}
                            man = element man {man_character, text}
                                man_character = attribute character {text}
                            husband = element husband {husband_character, text}
                                husband_character = attribute character {text}